.globaSummaryBg {
  background-image: url("../assets/ai-bg.png");
  background-size: cover;
  :global(html.theme-dark) & {
      background-image: url('../assets/ai-bg-dark.png');
      mix-blend-mode: unset;
  }
}
