.global-summary-modal-wrap {
  .global-summary-modal {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: unset;
    .ant-modal-content{
        height: 100vh;
        padding: 0;
        .ant-modal-body{
            height: 100vh;
        }
    }
  }
}
.global-summary-introduce{
  padding-top: 35px;
  h3{
    font-size: 30px;
    font-weight: 600;
    &:nth-of-type(1){
      margin-bottom: 0;
    }
  }
  &-item{
    width: 351px;
    height: 132px;
    border-radius: 16px;
    padding: 16px 120px 16px 17px;
  }
}
