.chat-ai-menu {
  align-self: flex-end;
  .chat-ai-logo-button {
    background: none !important;
    height: var(--base-height, 3.5rem);
    margin: 0;
    padding: 0;
    align-self: flex-end;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .ai-tool-menu-item {
    border-radius: 6px;
    height: 32px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    .ai-tool-menu-language:hover .icon {
      color: #3390ec;
    }
  }
}
