.summarize-modal {
  .modal-dialog {
    width: 452px !important;
  }
  .modal-header {
    flex-direction: row-reverse;
    padding-top: 10px;
    .modal-title {
      margin: 0;
    }
  }
  .summarize-origin-text {
    overflow: hidden;

    height: 36px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    border-radius: 12px;

    font-size: 12px;
    line-height: 36px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .summarize-result-text {
    overflow-y: scroll;

    max-height: 200px;
    margin-top: 15px;

    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  .summarize-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
    .summarize-footer-btn {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 22px;
      height: 22px;

      background-color: #f4f4f4;
    }
  }
}
