.translate-modal {
  .modal-dialog {
    width: 452px !important;
  }
  .summarize-origin-text {
    overflow: hidden;

    height: 36px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    border-radius: 12px;

    font-size: 12px;
    line-height: 36px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .summarize-result-text {
    overflow-y: scroll;

    max-height: 200px;
    margin-top: 15px;

    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  .summarize-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
    .summarize-footer-btn {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 22px;
      height: 22px;

      background-color: #f4f4f4;
    }
  }

  // translate modal

  .translate-modal-title {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    margin-bottom: 20px;
    .translate-modal-title-text {
      font-size: 20px;
      font-weight: 600;
    }
    .translate-modal-title-close {
      width: 30px;
      height: 30px;
      margin-left: auto;
    }
  }

  .translate-language-select {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 144px;
    height: 28px;
    padding: 0 10px;
    border-radius: 14px;

    font-size: 12px;
    font-weight: 500;

    background-color: #f4f4f4;
    .translate-language-select-container {
      position: absolute;
      z-index: 2;
      top: 36px;
      left: 0;

      overflow-y: scroll;

      width: 100%;
      height: auto;
      max-height: 200px;
      padding: 4px;
      border-radius: 12px;

      background-color: #f4f4f4;
      .translate-language-select-item {
        height: 24px;
        padding: 0 4px;
        border-radius: 12px;

        font-size: 12px;
        line-height: 24px;
        &:active {
          background-color: #f1f1f1;
        }
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
