.rightPanelBg {
  background-image: url("../assets/room-ai-bg-light.png");
  background-size: cover;
  :global(html.theme-dark) & {
    background-color: var(--color-background);
    background-image: unset;
  }
}

.phaseIndicatorContainer {
  display: flex;
  justify-content: center;

  padding: 0.75rem 1rem;
  border-top: 1px solid var(--color-borders);

  background: var(--color-background);
}

.toolCallsContainer {
  overflow-y: auto;

  max-height: 15rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--color-borders);

  background: var(--color-background);
}
