.rightPanelBg {
  background-image: url("../assets/room-ai-bg-light.png");
  background-size: cover;
  :global(html.theme-dark) & {
    background-color: var(--color-background);
    background-image: unset;
  }
}

.phaseIndicatorContainer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  background: var(--color-background);
  border-top: 1px solid var(--color-borders);
}

.toolCallsContainer {
  padding: 0.5rem 1rem;
  background: var(--color-background);
  border-top: 1px solid var(--color-borders);
  max-height: 15rem;
  overflow-y: auto;
}
