.chat-ai-room {
  p {
    margin: 0;
  }
}
.right-panel-chat-ai {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../assets//room-ai-bg.png");
  background-size: cover;
  .chat-ai-output-wrapper {
    flex: 1;
    overflow-y: scroll;
  }
}
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.room-ai-floating-button {
  position: absolute;
  right: max(1rem, env(safe-area-inset-right));
  bottom: 14rem;
  z-index: var(--z-scroll-down-button);
  --translate-x: 0;
  transition: transform var(--layer-transition), opacity 0.2s ease;
  transform: translateX(var(--translate-x));
  .Button {
    padding: 0;
  }
  &-unread-count {
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.4375rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
    text-align: center;
    position: absolute;
    top: -0.3125rem;
    right: -0.3125rem;
    background-color: var(--color-green);
    border: 1px solid var(--color-background);
    color: white;
    pointer-events: none;
  }
}
@media (min-width: 1276px) {
  #Main.right-column-open .room-ai-floating-button {
    --translate-x: calc(-1 * var(--right-column-width));
  }
}
