.banner {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;

  height: 42px;
  margin-bottom: 12px;
  padding: 6px;
  border-left: 3px solid #4BA673;
  border-radius: 4px;

  background-color: #EDF9F1;
}

.content {
  flex: 1;
  min-width: 0;
}

.label {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.messagePreview {
  overflow: hidden;

  font-size: 14px;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.senderName {
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}

.text {
  color: var(--color-text);
}

.closeButton {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
}
