.ComposerTranslatededMessage {
  .translation-animation {
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .text-loading {
    --background-gradient-size: 20rem;
    --animation-color: var(--color-skeleton-background);

    display: inline;

    border-radius: 0.25rem;

    color: transparent;

    background-image: linear-gradient(
      to right,
      transparent 10%,
      var(--animation-color) 50%,
      transparent 90%
    );
    background-size: var(--background-gradient-size);
    box-decoration-break: clone;

    animation: text-loading 1.5s linear infinite;

    .theme-dark & {
      --animation-color: var(--color-skeleton-foreground);
    }

    .emoji {
      opacity: 0;
    }
  }
  .message-input {
    display: block;
    padding: 0 0.25rem;
    line-height: 1.3125;
    white-space: pre-wrap;
    height: auto;
    width: 100%;
    border: none;
    font-size: var(--composer-text-size, 1rem);
    color: var(--color-text);
    outline: none;
  }
}
