.response-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  .thought-chain-container {
    padding: 10px;
    border-radius: 8px;
    background-color: #f5f5f5;
    img {
      width: 18px;
      height: 18px;
    }
    span {
      font-size: 12px;
    }
  }
  .chat-content {
    width: fit-content;
    padding: 0.3125rem 0.5rem 0.375rem;
    border-radius: var(--border-radius-messages-small);

    font-size: 14px;
    font-size: var(--message-text-size, 1rem);

    background-color: #ffffff;
  }
}
