.globaSummaryBg {
  background-image: url("../assets/ai-bg.png");
  background-size: cover;
  :global(html.theme-dark) & {
    background-image: unset;
    background-color: var(--theme-background-color);
  }
}
