.guidanceCarouselBg {
  background-image: url("../../assets/guidance/guidance-bg-light.png");
  background-size: 100%;
  :global(html.theme-dark) & {
    background-image: url("../../assets/guidance/guidance-bg-dark.png");
  }
}

.guidanceSummaryBg {
  background-image: url("../../assets/guidance/guidance-summary-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  :global(html.theme-dark) & {
    background-image: url("../../assets/guidance/guidance-summary-dark.png");
  }
}

.guidanceTranslationBg {
  background-image: url("../../assets/guidance/guidance-translation-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  :global(html.theme-dark) & {
    background-image: url("../../assets/guidance/guidance-translation-dark.png");
  }
}

.guidanceMeetingBg {
  background-image: url("../../assets/guidance/guidance-meeting-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  :global(html.theme-dark) & {
    background-image: url("../../assets/guidance/guidance-meeting-dark.png");
  }
}

.guidanceActionsBg {
  background-image: url("../../assets/guidance/guidance-actions-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  :global(html.theme-dark) & {
    background-image: url("../../assets/guidance/guidance-actions-dark.png");
  }
}
