.personalized-settings-tab {
  color: var(--color-text);
  .ant-tabs-nav {
    margin-bottom: 0 !important;
    padding-right: 16px;
    padding-left: 16px;
    .ant-tabs-tab {
      color: var(--color-text);
    }
  }
  .ant-tabs-content-holder {
    padding-top: 16px;
    .ant-tabs-content {
      height: 100%;
      .ant-tabs-tabpane {
        height: 100%;
      }
    }
  }
}
