.summary-rooms-tab {
  .tabs-container {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 0;

    button {
      font-size: 16px;
      background: none;
      border: 1px solid transparent;
      border-bottom: none;
      cursor: pointer;
      transition: all 0.2s ease;
      padding-bottom: 11px;
      position: relative;
      margin-bottom: -1px;
      overflow: visible;
      flex: 1;
      height: 40px;
      line-height: 40px;
      padding: 0;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-text-primary);
  }

  .chat-picker-item {
    background-color: var(--color-background);
    border-radius: 12px;
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;

    &-btn{
      visibility: hidden;
    }

    &:hover {
      background-color: var(--color-chat-hover);
      padding-left: 12px;
      padding-right: 12px;
      .chat-picker-item-btn{
        visibility: visible;
      }
    }
  }

  .space-y-8 > div {
    margin-bottom: 8px;
  }
}
