.summary-rooms-tab {
  .tabs-container {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 0;

    button {
      cursor: pointer;

      position: relative;

      overflow: visible;
      flex: 1;

      height: 40px;
      margin-bottom: -1px;
      padding: 0;
      padding-bottom: 11px;
      border: 1px solid transparent;
      border-bottom: none;

      font-size: 16px;
      line-height: 40px;
      white-space: nowrap;

      background: none;

      transition: all 0.2s ease;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-primary);
  }

  .chat-picker-item {
    cursor: pointer;

    position: relative;

    padding: 10px;
    border-radius: 12px;

    background-color: var(--color-background);

    transition: all 0.2s ease;

    &-btn {
      visibility: hidden;
    }

    &:hover {
      padding-right: 12px;
      padding-left: 12px;
      background-color: var(--color-chat-hover);
      .chat-picker-item-btn {
        visibility: visible;
      }
    }
  }

  .space-y-8 > div {
    margin-bottom: 8px;
  }
}
