.chat-picker-item {
  transition: padding 0.2s ease-in-out;
  .chat-picker-del {
    display: none;
  }
  &:hover {
    padding-right: 12px;
    padding-left: 12px;
    background-color: var(--color-chat-hover);
    .chat-picker-del {
      display: block;
    }
  }
}
