.chat-picker-item{
    .chat-picker-del{
        display: none;
    }
    transition: padding 0.2s ease-in-out;
    &:hover{
        background-color: var(--color-chat-hover);
        .chat-picker-del{
            display: block;
        }
        padding-left: 12px;
        padding-right: 12px;
    }
}