.global-summary-introduce {
  padding-top: 35px;
  h3 {
    font-size: 30px;
    font-weight: 600;
    &:nth-of-type(1) {
      margin-bottom: 0;
    }
  }
  &-item {
    cursor: pointer;

    width: 351px;
    height: 132px;
    padding: 16px;
    border-radius: 16px;
  }
}
