.upgrade-tip-message {
  .headerBadge {
    position: absolute;
    top: 0;
    left: 0;

    width: 475px;
    height: 36px;

    background-image: url("../assets/modal-header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(12px);
  }
}
