$icons-font: "icons";

@font-face {
  font-family: $icons-font;
  src: url("./icons.woff2") format("woff2"), url("./icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1744190779823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-knowledge-editing:before {
  content: "\e601";
}

