.ant-popover {
  .ant-popover-arrow::before {
    background: var(--color-chat-hover) !important;
  }
  .ant-popover-inner {
    background-color: var(--color-chat-hover) !important;
  }
}

.ant-modal-content {
  background-color: var(--color-background) !important;
}

.ant-modal-confirm-content,
.ant-modal-confirm-title {
  color: var(--color-text) !important;
}

.ant-dropdown-menu {
  background-color: var(--color-background-compact-menu) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  .ant-dropdown-menu-item {
    color: var(--color-text) !important;
  }
  .ant-dropdown-menu-item-selected {
    color: var(--color-white) !important;
    background-color: var(--color-chat-active) !important;
  }
}
