.ant-popover {
  .ant-popover-arrow::before {
    background: var(--color-chat-hover) !important;
  }
  .ant-popover-inner {
    background-color: var(--color-chat-hover) !important;
  }
}

.ant-modal-content {
  background-color: var(--color-background) !important;
}

.ant-modal-confirm-content,
.ant-modal-confirm-title {
  color: var(--color-text) !important;
}
