.upgrade-button {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  height: 28px;
  margin-left: auto;
  padding: 0 12px;
  border-radius: 14px;

  font-size: 12px;
  line-height: 28px;
  color: #000;
  text-align: center;

  background: linear-gradient(90deg, #eeedff 37%, #e1fcff 100%);
}

html.theme-dark .upgrade-button {
  color: #fff;
  background:
 linear-gradient(
    90deg,
    rgba(59, 56, 108, 1) 30%,
    rgba(23, 76, 82, 1) 100%
  );
}

.upgrade-button::before {
  content: "";

  position: absolute;
  top: 0;
  left: -50%; /* 从左边外面开始 */
  transform: skewX(-25deg);

  width: 50%;
  height: 100%;

  background:
 linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(6px);

  animation: shine 6s infinite ease-in-out;
}

@keyframes shine {
  0% {
    left: -150px;
  }
  15% {
    left: 100px;
  }
  100% {
    left: 100px;
  }
}
