.aichatfolders-tip-message {
  width: 268px;
  margin-top: 35px;
  margin-left: 10px;
  color: var(--color-aichatfolders-tag-text);
  .ant-message-notice-content {
    background-color: var(--color-aichatfolders-tag-bg) !important;
    box-shadow: 0px 4px 4px 0px #B1B1B140;
  }
  .ant-message-notice-content::before {
    content: '';

    position: absolute;
    top: 33px;
    left: 35px;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--color-aichatfolders-tag-bg);
    border-left: 8px solid transparent;
  }
}
