/* 1. 适配 Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* 2. 适配 Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
