.message-gpt-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 30px;
    // background: var(--color-background-compact-menu);
    background: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
    border-radius: 16px;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -32px;
    padding: 0 12px;
}