.message-gpt-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  padding-top: 2px;
  &-inner {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    height: 30px;

    // bottom: -32px;
    padding: 0 12px;
    border-radius: 16px;
    // background: var(--color-background-compact-menu);
    background: var(--color-background-compact-menu);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  }
}
