.chat-ai-room {
  p{
    margin: 0;
  }
}
.right-panel-chat-ai {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../assets//room-ai-bg.png");
  background-size: cover;
  .chat-ai-output-wrapper {
    flex: 1;
    overflow-y: scroll;
  }
}
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
