.im-assiatant-chat-item.active{
    background-color: rgb(51, 144, 236);
    border-radius: 12px;
    color: #fff;
}
.im-assistant-modal{
    top: 5vh!important;
    >div{
        height: 100%;
    }
    .ant-modal-content{
        padding: 0;
        height: 100%;
    }
    .ant-modal-body{
        height: 100%;
    }
}