.root {
  :global(.modal-content) {
    display: flex;
    flex-direction: column;
    min-height: min(75vh, 32rem);
  }

  :global(.modal-header) {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }

  :global(.matching-text-highlight) {
    color: var(--color-primary);
  }
}

.list-item {
  text-align: left;

  &[dir="rtl"] {
    text-align: right;
  }
}

.title,
.subtitle {
  text-align: inherit !important;
}

.languages {
  overflow-y: auto;
}
