.input-translate-tip {
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #369cff;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  top: -64px;
  right: -18px;
  width: 297px;
  max-width: 80vw;
  transition: opacity 0.2s ease-in-out;
  &-arrow {
    position: absolute;
    bottom: 0px;
    right: 30px;
    &::before {
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      width: 16px;
      height: 8px;
      background: #369cff;
      clip-path: path(
        "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
      );
      content: "";
    }
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      bottom: 0;
      inset-inline: 0;
      margin: auto;
      border-radius: 0 0 2px 0;
      transform: translateY(50%) rotate(-135deg);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
      z-index: 0;
      background: #369cff;
    }
  }
}
