.input-ai-actions {
  flex-shrink: 0;
  align-self: flex-end;
  position: relative;
  .input-ai-actions-button {
    align-self: flex-end;

    height: var(--base-height, 3.5rem);
    margin: 0;
    padding: 0;

    background: none !important;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.input-language-menu .menu-container {
  padding: 0 !important;
}
