.modal {
  :global(.modal-dialog) {
    width: 90vw;
    max-width: 550px;
  }
}

.content {
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 40px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    filter: blur(8px);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  
  th {
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 1px solid var(--color-borders);
    &:nth-of-type(1){
      width: 120px;
    }
  }
  
  td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-borders);
    padding: 8px 12px;
    
    // 确保内部元素也居中
    > div {
      margin: 0 auto;
    }
  }
  
  tbody tr:hover {
    background-color: var(--color-item-hover);
  }
}
