.modal {
  :global(.modal-dialog) {
    width: 90vw;
    max-width: 550px;
    overflow: hidden;
  }
}

.content {
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 40px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  .headerBadge {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../chatAssistant/assets/modal-header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(12px);
    width: 475px;
    height: 100%;
  }
}
