.grammar-tool-wrapper {
  scrollbar-gutter: stable;

  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0;
  transform-origin: bottom;
  transform: translateY(1.5rem);

  overflow: hidden;

  width: 100%;
  border: 3px solid #8c42f0;
  border-radius: 16px;

  color: var(--color-text);

  opacity: 0;
  background-color: var(--color-background);

  transition: opacity var(--layer-transition), transform var(--layer-transition);
  &.open {
    transform: translateY(0);
    opacity: 1;
  }
  .grammar-tool-tabs {
    height: 100%;
    .ant-tabs-nav-wrap {
      padding-right: 20px;
      padding-left: 20px;
    }
    .ant-tabs-content-holder {
      overflow: auto;
      max-height: 20rem;
      .ant-tabs-tabpane {
        padding-top: 12px;
        padding-right: 20px;
        padding-left: 20px;
        .grammar-tool-tab-content-title {
          font-size: 14px;
          font-weight: 600;
          color: #8C42F0;
        }
      }
    }
  }
}

.input-ai-actions {
  flex-shrink: 0;
  align-self: flex-end;
  .input-ai-actions-button {
    align-self: flex-end;

    height: var(--base-height, 3.5rem);
    margin: 0;
    padding: 0;

    background: none !important;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
