.sapling-badge-container {
  position: absolute;
  right: 0;
  bottom:
 calc(
    (var(--base-height, 3.5rem) - var(--composer-text-size, 1rem) * 1.3125) / 2
  );
  .sapling-status-container {
    position: absolute;
    right: 2px;
    bottom: 2px;
  }
  .sapling-badge-errors {
    pointer-events: auto;

    width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: #990000;
    .sapling-badge-errors-count {
      cursor: pointer;

      position: absolute;
      right: 0;
      bottom: 0;

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 0;
      height: 0;
      border-radius: 50%;

      font-size: 11px;
      font-weight: 600;
      color: #fff;

      background-color: #ff543d;

      animation: all 0.5s ease-in-out;
    }
    &:hover {
      .sapling-badge-errors-count {
        width: 20px;
        height: 20px;
      }
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  .sapling-badge-spinner {
    position: absolute;
    right: -2px;
    bottom: -2px;

    width: 12px;
    height: 12px;
    border: 2px solid #3f51b5;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    animation: rotation 2s infinite linear;
  }
}

.sapling-errors-modal {
  margin: 0 !important;
}
