.sapling-badge-container {
  position: absolute;
  right: 0;
  bottom: calc(
    (var(--base-height, 3.5rem) - var(--composer-text-size, 1rem) * 1.3125) / 2
  );
  .sapling-status-container {
    position: absolute;
    right: 2px;
    bottom: 2px;
  }
  .sapling-badge-errors {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #990000;
    pointer-events: auto;
    .sapling-badge-errors-count {
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      overflow: hidden;
      background-color: #ff543d;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 11px;
      font-weight: 600;
      right: 0;
      bottom: 0;
      animation: all 0.5s ease-in-out;
      cursor: pointer;
    }
    &:hover {
      .sapling-badge-errors-count {
        width: 20px;
        height: 20px;
      }
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  .sapling-badge-spinner {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #3f51b5;
    bottom: -2px;
    right: -2px;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: rotation 2s infinite linear;
  }
}

.sapling-errors-modal{
    margin: 0!important;
}

