.header-translate-tip {
  position: absolute;
  top: 54px;
  right: -18px;

  width: 297px;
  max-width: 80vw;
  padding: 12px;
  border-radius: 16px;

  font-size: 14px;
  color: #ffffff;
  text-align: left;
  text-transform: none;

  background-color: #369cff;

  transition: opacity 0.2s ease-in-out;
  &-arrow {
    position: absolute;
    top: 0px;
    right: 38px;
    &::before {
      content: "";

      position: absolute;
      top: 0;
      inset-inline-start: 0;

      width: 16px;
      height: 8px;

      background: #369cff;
      clip-path:
 path(
        "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
      );
    }
    &::after {
      content: "";

      position: absolute;
      z-index: 0;
      bottom: 0;
      inset-inline: 0;
      transform: translateY(50%) rotate(-135deg);

      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 0 0 2px 0;

      background: #369cff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    }
  }
}
