.root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.bot-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: min(80%, 25rem);
  border-radius: var(--border-radius-messages);

  font-size: calc(var(--message-text-size, 1rem) - 0.0625rem);
  color: var(--color-text);
  text-align: initial;

  background-color: var(--color-background);
}

.bot-info-description {
  padding: 0.5rem 1rem;
  text-wrap: pretty;
}

.bot-info-title {
  margin-bottom: 0.25rem;
  font-weight: var(--font-weight-medium);
}

.media {
  max-width: 100%;
  height: auto !important;
}
