.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin: 10px 0;
}

.skeleton-text {
  height: 20px;
  border-radius: 4px;
  background-color: #e0e0e0;

  &:nth-of-type(1) {
    width: 50%;
  }
  &:nth-of-type(2) {
    width: 70%;
  }
  &:nth-of-type(3) {
    width: 100%;
  }
}

.skeleton-line {
  animation: pulse 1.5s infinite ease-in-out;
}

/* 动画效果 */
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
