.Portrait {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-x: hidden;
  overflow-y: scroll;

  padding: 12px;
  .empty {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.PortraitMenu .backdrop {
  width: 24rem;
  height: 34px;
  position: absolute;
  top: -34px;
  left: -17px;
}
