.Portrait {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;

  height: 100%;
  padding: 12px;
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
}

.PortraitMenu .backdrop {
  position: absolute;
  top: -34px;
  left: -17px;

  width: 24rem;
  height: 34px;
}
