.Portrait {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-x: hidden;
  overflow-y: scroll;

  padding: 8px;
  background: linear-gradient(
      0deg,
      rgba(220, 254, 255, 0.15),
      rgba(220, 254, 255, 0.15)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(33.5px);

  &.dark {
    background: #292929;
  }
  .empty {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

